*{
    margin: 0;
    padding: 0;
       
}

h1{
    font-weight: 800 !important;
    font-size: 50px;
}

body{
    background-color: orange;
}

#pikachu{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: all 0.5s;
    
}

#pikachu:hover{
    transform: scale(2);
}

.head{
    position: relative;
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    box-shadow: 0px 15px 10px rgba(19, 19, 31, 0.05);
    display:flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;    
    width: 100%;
    bottom: 10px;
    height: 100px;
    
}

.card{
    position: relative;       
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: large;
    margin: 0 auto;
    width: 600px;
    text-align: center;     
    background-color: wheat;
    height:auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(19, 19, 31, 0.05);
}

.grid{
display: grid;  
grid-template-columns: 50% 50%;

}

.pokemon{
    background-image: url(img/Clouds.svg);
    background-size: contain;
    background-position: top;
    background-repeat:no-repeat;
    width: auto;        
    text-align: center;    
}

@media only screen and (max-width: 800px) {

    .card{        
        position: absolute;
        width: 400px;
        bottom: -10px;
        margin-left: 20px;
        padding-top: 50px;
    }
    img {
        margin-left: 70px;
        position: relative;
        width: 300px;
    }

    .pokemon{
        z-index: 1;
    }
  }